<% if object.errors.any? %>
  <div class="error_messages">
    <ul>
      <% for message in object.errors.full_messages %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
 <% end %>